// Here you can add other styles
.logtitle{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-top: 12px;
 
    color: linear-gradient(#71b7e6, #9b59b6);
  }

  .btntxt
  {
      color:white;
      border-width: 2px;
      background-color: rgb(64, 64, 138);
  }
  .headtxt
  {
      font-weight: 500;
      font-size: 16px;;
  }
